.menu {
    color: #969696;
    font-family: 'Marvel';
    font-size: 2rem;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #969696;
    padding: 40px;
}

@media (max-width: 414px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #232323;
        position: absolute;
        top: 30px;
        width: 50%;
        left: 0;
        padding: 10px 0;
        z-index: 500;
    }

    .menu a {
        padding: 5px 0;
        font-size: 0.750rem;
        display: block;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.250rem;
        color: #969696;
        z-index: 550;
    }

    .menu.active {
        display: flex;
    }
}