.fotograph {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    max-width: 1230px;
    margin: 20px auto;
}

.fotograph img {
    max-width: 100%;
    border-radius: 10px;
}

.fotograph-casal {
    margin-top: -420px;
}

.frase {
    color: #969696;
    font-family: 'Athene';
    font-size: 4rem;
    margin-left: 50px;
    margin-top: 50px;
}

@media (max-width:414px) {
    .fotograph {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 80%;
        overflow: hidden;
    }

    .fotograph img {
        max-width: 100%;
        height: auto;
    }

    .fotograph-casal {
        margin-top: 0;
    }

    .frase {
        font-size: 2rem;
        display: flex;
        text-align: center;
        margin: 25px 25px;
        overflow: hidden;
    }
}