.biograph {
    position: relative;
    background-color: #232323;
    width: 1350px;
    height: 810px;
    margin-top: 60px;
    margin-left: -10px;
}

.biograph img {
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-top: 34px;
    border-radius: 10px;
}

.biograph header {
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 674px;
    color: #f2eeee;
    font-family: 'Londrina Shadow';
    font-size: 6rem;
}

.biograph p {
    display: flex;
    position: absolute;
    color: #f2eeee;
    font-family: 'Kurale';
    font-size: 36px;
    width: 650px;
    height: 550px;
    margin-top: 154px;
    margin-left: 674px;
    text-align: justify;
}

.biograph button {
    color: #ffffff;
    background: #898989;
    width: 219px;
    height: 57px;
    font-size: 1.750rem;
    font-family: 'Kurale';
    border-radius: 10rem;
    margin-top: 715px;
    margin-left: 891px;
}

.logo img {
    display: flex;
    margin-top: 80px;
    margin-left: 335px;
    border-radius: 10px;
}

@media (max-width: 414px) {
    .biograph {
        width: 83%;
        height: 550px; 
        margin-left: 0; 
        align-items: center;
        overflow: hidden;
    }

    .biograph img {
        display: none;
    }

    .biograph header {
        position: static;
        font-size: 3rem;
        align-items: center;
        margin: 20px 60px;
        text-align: center;
    }

    .biograph p {
        position: static; 
        font-size: 1.125rem;
        width: 80%;
        height: auto;
        margin: 20px 30px;
        text-align: justify;
    }

    .biograph button {
        position: static;
        display: block;
        width: 150px;
        height: 40px;
        margin: 20px auto;
        font-size: 1rem;
    }

    .logo img {
        display: none;
    }
}