.footer h3 {
    color: #969696;
    font-family: 'Mea Culpa';
    font-size: 96px;
    margin-top: 100px;
    margin-left: 70px;
}

@media (max-width: 800px) {
    .footer h3 {
        font-size: 36px;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center; 
    }
}