.instagram {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.instagram a {
    text-decoration: none;
    font-family: 'Kurale';
    color: #969696;
    font-size: 36px;
    text-align: justify;
    display: inline-block;
    animation: scroll-text 20s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 800px) {
    .instagram a {
        font-size: 24px;
        animation: scroll-left 15s linear infinite;
    }
}